dash_core_components>=0.4.0
dash_html_components>=0.5.0
dash_renderer
percy
selenium
mock
tox
tox-pyenv
mock
six
plotly>=2.0.8
requests[security]
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
